**/obj
**/bin
**obj/
API/obj/API.csproj.nuget.dgspec.json
API/obj/project.assets.json
API/obj/project.nuget.cache
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Persistence/obj/Persistence.csproj.nuget.dgspec.json
Persistence/obj/project.assets.json
Persistence/obj/project.nuget.cache
.vscode/tasks.json
.vscode/launch.json
.vs/VSWorkspaceState.json
.vs/Reactivities/DesignTimeBuild/.dtbcache.v2
.vs/Reactivities/v16/.suo
API/obj/API.csproj.nuget.dgspec.json
.gitignore
.vs/slnx.sqlite
API/obj/API.csproj.nuget.dgspec.json
bin
obj
.vscode
.DS_Store
*.db
/node_modules
API/reactivities.db
client-app/src/debug.log
client-app/debug.log
Application/Activities/Details.cs
API/obj/API.csproj.nuget.dgspec.json
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/project.nuget.cache
